@charset "utf-8";

:root{
    --branco:#ffffff;
    --preto: #000000;
    --cor1:#121212;
    --cor2:#404040;
    --cor3:#9C9C9C;
    --cor4:#B2B2B2;
    --cprincipal: #D6000D;
}

.branco{
    color: var(--branco);
}

.preto{
    color: var(--preto);
}

.cor-1{
    color: var(--cor1);
}

.cor-2{
    color: var(--cor2);
}

.cor-3{
    color: var(--cor3);
}

.cor-4{
    color: var(--cor4);
}

.c-principal{
    color: var(--cprincipal);
}