:root{
    --font-padrao: 'Roboto', sans-serif;
}

.font-xl{
    font: 700 clamp(2rem, 5vw, 4rem)/1 var(--font-padrao);
}

.font-l{
    font: 400 clamp(1.125rem, 2.5vw, 1.5rem)/1.2 var(--font-padrao);
}

.font-m{
    font: 700 clamp(1rem, 2.5vw, 1.25rem)/1.2 var(--font-padrao);
}

.font-m-b{
    font: 400 clamp(1rem, 2.5vw, 1.25rem)/1.2 var(--font-padrao);
}


.font-s{
    font: 500 clamp(.875rem, 2vw, 1rem)/1.25 var(--font-padrao);
}

.font-xs{
    font: 400 clamp(.75rem, 2vw, 1rem)/1.25 var(--font-padrao);
}

.font-xs-b{
    font: 500 clamp(.75rem, 2vw, 1rem)/1.25 var(--font-padrao);
}
