.btn{
    background-color: var(--cprincipal);
    color: var(--branco);
    padding: .5em 2em;
    border-radius: 5px;
    display: inline-block;
    font: 700 clamp(1rem, 2.5vw, 1.25rem)/1.2 var(--font-padrao);
    transition: .2s;
}

.btn:hover{
    color: var(--cor1);
}

.container{
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 80px;
}