@charset "utf-8";

.comentarios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.comentarios__bloco{
    background-color: #cfcfcf;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 20px;
}

.comentarios__circulo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--cprincipal);
}

.comentarios__conteudo{
    display: grid;
    grid-template-rows: 1fr;
    align-content: end;
}

.comentarios__depoimento{
    margin-bottom: 12px;
    max-width: 46ch;
}

@media(max-width: 800px){
    .comentarios{
        grid-template-columns: 1fr;
    }

    .comentarios__circulo{
        width: 50px;
        height: 50px;
    }

    .comentarios__depoimento{
        max-width: initial;
    }
}

@media(max-width: 600px){
    .comentarios__circulo{
        width: 40px;
        height: 40px;
    }
}