@charset "utf-8";

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 60px;
}

.header__menu{
    display: flex;
    gap: 16px;
    align-items: center;
}

.header__link{
    padding: 8px 16px;
    transition: .2s;
}

.is-hover:hover{
    color: var(--cprincipal);
}

@media(max-width: 800px){
    .header-container{
        flex-direction: column;
        gap: 32px;
        padding-top: 40px;
        margin-bottom: 20px;
    }

    .header__item--none{
        display: none;
    }
}