.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.introducao__img{
    width: 70%;
    margin: auto;
}

.introducao__subtitulo{
    display: block;
    padding-top: 12px;
    margin-bottom: 12px;
}

.introducao__titulo{
    margin-bottom: 32px;
}

@media(max-width: 800px){
    .introducao{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .introducao__img{
        width: 50%;
    }
}