.main-header{
    padding-left: 40px;
    padding-right: 40px;
}

.into{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.img-intro img{
    width: 70%;
    margin: auto;
}

.conteudo-intro .subtitulo{
    display: block;
    padding-top: 12px;
    margin-bottom: 12px;
}

.conteudo-intro .titulo{
    margin-bottom: 32px;
}

@media(max-width: 800px){
    .into{
        grid-template-columns: 1fr;
        text-align: center;
    }
}